.blue-card {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  background: {
    image: url("curve.png");
    size: 100% 100%;
    repeat: no-repeat;
  }
  font-family: FontAwesome;
}

.first {
  padding-top: 0.1in;
  color: #fff;
  margin-bottom: 0.175in;
}

.blue-company {
  font-size: 0.175in;
  font-weight: bold;
}

.second {
  font-size: 0.105in;
}

.blue-fullname {
  font-size: 0.165in;
}

.third {
  margin-top: 0.175in;
  font-size: 0.105in;
}